export GOOGLE_CLIENT_ID=436981787571-ocirg7396sj85f84avdpgcn8hlecivos.apps.googleusercontent.com
export GOOGLE_CLIENT_SECRET=Z_dw5mhRCPCNIVo9mfuEPQKL
export JWT_SECRET_KEY=XXF3xmSPYB5HYIAzFZt3-mRGBBCwLXIK6E9LvGjMrKjWPvirAv58ps2VA9jUisnfFOi_Tc6lgeBVzCLoh_6PHj8T2XchfHYvoH3J8dn043AOD5PVrX5WvBlCmQm6AtjVlrC14rz89eDvN7FfXIfu4ldnYrNBaaPK4barZKzk3rxPbK_HzFZ8L3aIVB-bQJVl02wPuvv21HixEt6GsgB4jp3g90e2Cx7TM7vzjLHJIIvuT53tfA9ZF700EQIpAKwoZTqhDQlyAQnniBljYeOBIEZSHYWvMxSCwCPqIGSMS_TGuzwrljpWJf2KUD3KAObVoGIVWbEKH2wTbO4RHexuNQ